<%- include('partials/header.ejs') %>

<% if(locals.book && book != undefined){ %>

    <h2><%= book.title %> - by <%= book.author %></h2>
    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg"/>
    <p><%= book.description%></p>
    <hr>
    <p>Rating: <%= book.rating %>/10</p>
    <p>Read date: <%= book.readDate %></p>
    <hr>
    <h3>Notes</h3>
    <p><%= book.notes %></p>
    <hr>
    <form>
        <input type="submit" value="Edit" formaction="/book/<%= book.isbn %>/edit" formmethod="get"/>
        <input type="submit" value="Delete" formaction="/delete/<%= book.isbn %>" formmethod="post"/>
    </form>

<% } else { %>
    <h2>No book was found! :(</h2>
<% } %>

<%- include('partials/footer.ejs') %>