<%- include('partials/header.ejs') %>

<form method="post">
    <label for="isbn">ISBN</label>
    <input name="isbn" type="text" maxlength="15" required value="<%= locals.book?book.isbn:"" %>" <%= locals.book?"disabled":"" %>/><br><br>
    <label for="title">Title</label>
    <input name="title" type="text" required  value="<%= locals.book?book.title:"" %>"/><br><br>
    <label for="author">Author</label>
    <input name="author" type="text" required  value="<%= locals.book?book.author:"" %>"/><br><br>
    <label for="description">Description</label>
    <textarea name="description" rows="15" cols="50" required><%= locals.book?book.description:"" %></textarea><br><br>
    <label for="readDate">Read date</label>
    <input name="readDate" type="date" required  value="<%= locals.book?book.readDate:"" %>"/><br><br>
    <label for="notes">Notes</label>
    <textarea name="notes" rows="15" cols="50" required><%= locals.book?book.notes:"" %></textarea><br><br>
    <label for="rating">Rating</label>
    <input name="rating" type="number" min="1" max="10" required value="<%= locals.book?book.rating:"10" %>"/><br><br>
    <input name="action" value="<%= locals.book?"edit":"add" %>" hidden/>
    <input type="submit" value="<%= locals.book?"Edit":"Add" %> book" formaction="<%= locals.book?("/edit/" + book.isbn):"/add" %>"/>
</form>

<%- include('partials/footer.ejs') %>