<%- include('partials/header.ejs') %>

<%
function showStars(rating){
        if(rating < 1) rating = 1;
        if(rating > 10) rating = 10;

        const fillString = '<i class="bi bi-star-fill"></i>\n';
        const halfString = '<i class="bi bi-star-half"></i>\n';
        const emptyString = '<i class="bi bi-star"></i>\n';

        let fill = Math.floor(rating/2);
        let half = ((rating/2)-fill) > 0 ? 1 : 0;
        let empty = 5 - (fill+half);

        return fillString.repeat(fill) + halfString.repeat(half) + emptyString.repeat(empty);
    }

function truncateLongText(text){
    if(text.length > 200){
        return text.slice(0,200) + "...";
    } else {
        return text;
    }
}
%>

<div class="container my-5">
    <% if(locals.bookreviews && bookreviews.length > 0){ %>
        <% bookreviews.forEach(book => { %>
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 mb-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-9 p-3 p-lg-3 pt-lg-3">
                <h2 class="fw-bold lh-1 text-body-emphasis"><%= book.title %> - by <%= book.author %></h2>
                <p class="lead mb-1"><%= truncateLongText(book.description) %></p>
                <div class="stars d-flex justify-content-start align-items-center mt-1">
                    <p><%- showStars(book.rating) %></p>
                </div>
                <p class="lead">Read date: <%= book.read_date %></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="/book/<%= book.isbn %>"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">See Review</button></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3 bookcover" src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg?default=false" onerror="this.onerror = ''; this.src='/images/No-Cover-Image.png'" alt="Book cover" width="180">
            </div>
            </div>
        <%  }); %>
    <% } else { %>
        <h2>No book reviews so far... :(</h2>
    <% } %>
  </div>
<%- include('partials/footer.ejs') %>